body {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1;
  background-image: url(../images/cork-board.png);
}

textarea {
  resize: none;
  color: #000000;
  padding: 10px;
  border: 0.5px solid #9b7253;
  border-right: none;
  box-shadow: 2px 2px 3px #816f57;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

textarea:focus {
  outline:none;
}

.jumbotron {
  text-align: center;
  background-image: url(../images/retina_wood.png);
  color: #4d3e2e;
  border-radius: 0;
  border-bottom: 5px solid #9b7253;
}

.display-3 {
  font-size: 82px;
  text-shadow: 4px 4px 6px #aca090, 4px 4px 6px #302920 ;
}

.row {
  display:flex;
  margin-bottom: 10px;
}

.lead {
  padding-bottom: 2%;
}

.leadTime {
  font-size: 34px;
  text-shadow: 2px 2px 2px #aca090;
}

.hour {
  color: #4d3e2e;
  border-top: 1px dashed #000000;
  padding-left: -10px;
  padding-top: 2%;
  font-size: 26px;
  padding-right: 2%;
  font-weight: 600;
  text-shadow: 2px 2px 2px #aca090;
}

.past {
  background-color: #cacaca;
  color: #4d3e2e;
}

.past:focus {
  background-color: #d4d3d3;
}

.present {
  background-color: #f3a19d;
  color: #4d3e2e;
}

.present:focus {
  background-color: #f7ada9;
}

.future {
  background-color: #add8ad;
  color: #4d3e2e;
}

.future:focus {
  background-color: #b5ddb5;
}

.saveBtn {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #c0a47f;
  color: #f0e0cb;
  padding: 4%;
  border: none;
  box-shadow: 2px 2px 3px #816f57;
  border: 1px solid #816f57;
  font-size: 35px;
}

.saveBtn:hover {
  color: #d8c4aa;
  transition: all 0.3s ease-in-out;
  background-color: #af9572;
}